.style-card {
    border-radius: 18px;
    max-width: 20vw!important;
    text-align: center;
    margin: 0 auto;
}

.style-card:hover {
    transform: scale(1.02);
    transition: all .3s cubic-bezier(0,0,.5,1);
}

.nav-link{
    color: #54BA36;
}

.btn-dark:hover{
    color: #54BA36;
}

.card-text{
}