{% extends 'base.html.twig' %}

{% block title %}PearPhone{% endblock %}

{% block body %}
<br>
<div class="text-center">
    <h1>PearPhone</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            {% for produit in produits %}
                {% if produit.Photo is not null %}
                    <img src="{{ asset('uploads/images/' ~ produit.Photo) }}" style="width:200px;" alt="">
                    <p>{{ produit.Nom }}</p>
                    <p>{{ produit.Prix }} €</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
