{# templates/error/500.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Erreur 500 - Page non trouvée{% endblock %}

{% block body %}
    <h1>Erreur 500 - Page non trouvée</h1>
    <p>Désolé, la page que vous recherchez est introuvable.</p>

{% endblock %}
