{# templates/error/404.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Oups il semblerait qu'il y ai une erreur{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>

        .error-container {
            max-width: 600px;
            padding: 20px;
            border-radius: 8px;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: auto;
        }

        h1 {
            font-size: 3em;
            margin-bottom: 10px;
            color: #54BA36;
        }

        p {
            font-size: 1.2em;
            margin-bottom: 20px;
        }

        a {
            color: #0275d8;
            text-decoration: none;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="error-container">
        <h1>Oups</h1>
        <p>La page que vous cherchez n'existe pas ou plus</p>
        <p><a href="/produit">Retour à la page d'accueil</a></p>
    </div>

{% endblock %}